.home-page-img {
  box-shadow: -7px 4px 40px 20px rgba(0, 0, 0, 0.25);
}
.hamburger-bar {
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  height: 2px;
}
.hamburger-bar::before,
.hamburger-bar::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
}
.hamburger-bar::before {
  transform: translateY(-16px);
}
.hamburger-bar::after {
  transform: translateY(16px);
}

#hamburger.active .hamburger-bar {
  transform: translateX(-50px);
  background-color: transparent;
}

#hamburger.active .hamburger-bar::before {
  transform: rotate(45deg) translate(35px, -35px);
  border-radius: 5px;
}
#hamburger.active .hamburger-bar::after {
  transform: rotate(-45deg) translate(35px, 35px);
  border-radius: 5px;
}
.overlayActive {
  display: block;
}
.header {
  text-shadow: 0px 0px 13px rgb(241, 146, 135);
  color: #fff8d3;
}

.homeButton {
  color: #fff8d3;
}

p {
  word-spacing: 3px;
}

.menuItemButton:hover .submenuOffer {
  animation: slideinOffer 0.5s;
  animation-fill-mode: forwards;
}
.menuItemButton:hover .submenuGallery {
  animation: slideinGallery 0.5s;
  animation-fill-mode: forwards;
}
.mobile-submenu-offer {
  animation: slideinGallery 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideinOffer {
  0% {
    
    opacity:0;
  }
  25% {
    opacity:0;
    transform: translateY(48%);
  }
50% {
    opacity:0.5;
    transform: translateY(53%);
}
  100% {
    transform: translateY(53%);
    opacity:1;
  }
}
@keyframes slideinGallery {
  0% {
    
    opacity:0;
  }
  25% {
    opacity:0;
    transform: translateY(48%);
  }
50% {
    opacity:0.5;
    transform: translateY(56.8%);
}
  100% {
    transform: translateY(56.8%);
    opacity:1;
  }
}
.offer-menu {
  transition-duration: 0.2s;
}
.offer-menu:hover {
  text-shadow: 0px 0px 13px rgb(241, 146, 135);
}

.section-margin::before {
  content: '';
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.image-overlay {
  transition: .4s ease;
  position: absolute;
  opacity:0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 0px 4px rgb(241, 146, 135);

}



.gallery-link-container:hover .image-overlay {
  opacity: 1;
  text-shadow: 0px 0px 16px rgb(241, 146, 135);
  transform:translate(-50%, -52%)
}
.image-overlay-mobile {
  opacity: 1;
  text-shadow: 0px 0px 16px rgb(241, 146, 135);
}

.row {
  display: flex;
  flex-wrap: wrap;

}

/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
 
}

.column img {

  vertical-align: middle;
}
#sesja-ciazowa-zdjecie-1 {
  width:202%;
  height:558px;
  max-width: none;
}
@media screen and (max-width: 1280px) {
  #sesja-ciazowa-zdjecie-1 {
    width:auto;
    height:auto;
  }
 }
 .gallery-photo {
  width:202%;
  height:553px;
  max-width: none;
  object-fit: cover;
 }
 @media screen and (max-width: 1280px) {
  .gallery-photo {
    width:auto;
    height:auto;
  }
 }
